<div class="container">
<% if current_user %>

<h1 class="head">Welcome Back,<%= (current_user.email.split('@'))[0].capitalize %></h1>
<div class = "login-form3" style="left:25%;width:50%;">
<p>Poll Question:What is Your favourite fruit?</p>

  <% if current_user.count==0%>

  <p><%= link_to 'Create Your Poll', new_mypoll_path,:class=> "logbtn" %></p>

 <% end%>
<p><%= link_to 'View Categories', categories_path,:class=> "logbtn" %></p>
  <p><%= link_to 'View Polls', mypolls_path,:class=> "logbtn" %></p>
  
</div>
<%= pie_chart @pollsarray %>

<%else%>
<h1>Welcome To Polling Website</h1>
<div class = "login-form1">
<%= link_to 'Sign Up', new_user_registration_path,:class=> "logbtn"%>
<br>
<%= link_to 'Sign In', new_user_session_path,:class=> "logbtn"%>
</div>

<%end%>
</div>

