
<h1 align=center>Polls</h1>

<h2 align=center>My Polls</h2>

<table border=1 style="margin: 0 auto;text-align: center;">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Category</th>
      <th>User</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% if @mypolls.each do |mypoll| %>
     <% if mypoll.user == current_user %>
      <tr>
        <td>1</td>
        <td><%= mypoll.category.name %></td>
        <td><%= mypoll.user.email %></td>
        <td><%= link_to 'Edit', edit_mypoll_path(mypoll) %></td>
        <td><%= link_to 'Destroy', mypoll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr> 
      <%end%>  
  <%end%>
<%end%>

  </tbody>
</table>
 
<br><Br>
<h2 align=center>Other Polls</h2>
<br>

<%i=0%>
<table border=1 style="margin: 0 auto;text-align: center;">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Category</th>
      <th>User</th>
     
    </tr>
  </thead>
<% if @mypolls.each do |mypoll| %>
  <tbody>
    <%i +=1%>
      <% if mypoll.user != current_user %>
      <tr>
        <td><%=i%></td>

        <td><%= mypoll.category.name %></td>
        <% if !mypoll.user.admin %>
        <td><%= mypoll.user.email %></td>
        <%else%>
         <td>(a)|<%= mypoll.user.email %></td>
        <%end%>
        <%end%>  
      </tr>
    <%end%> 
  </tbody>
</table>
<%end%>

     <br>
     <h2 align=center>Pie Chart</h2>
    
   <%= pie_chart @pollsarray %>
   <%= link_to 'Back', '/' %>
<br>




