<div class="container">
<h2 align=center>My Polls</h2>

<%if @apolls.empty? %>
<div class="mypol" style="background-color:#A89EE9;border-color:#5541D2;">
 <p class="polls2" style="color:white;padding-top:10px;">Sorry,you have not created any polls.</p>

 <p class="polls2"><%= link_to 'Add Poll', new_mypoll_path ,:class=>"logbtn2" %></p>
</div>
<%else%>
<table border=1 style="margin: 0 auto;text-align: center;" class="table table-hover table-sm table-secondary">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Category</th>
      <th>User</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @apolls.each do |mypoll| %>
     
      <tr>
        <td>1</td>
        <td><%= mypoll.category.name.capitalize %></td>
        <td><%= mypoll.user.email %></td>
        <td><%= link_to 'Edit', edit_mypoll_path(mypoll) %></td>
        <td><%= link_to 'Destroy', mypoll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr> 
       
  <%end%>
  </tbody>
</table>
 <%end%>
<br><Br>


<h2 align=center>Other Polls</h2>
<br>

<%if @anpolls.empty? %>
<div class="mypol" style="background-color:#A89EE9;border-color:#5541D2;">
 <p class="polls2" style="color:white;padding-top:10px;">Sorry,No polls have been created.</p></div>
<%else%>
<%i=0%>
<table border=1 style="margin: 0 auto;text-align: center;" class="table table-hover table-sm table-dark">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Category</th>
      <th>User</th>
     
    </tr>
  </thead>
<% @anpolls.each do |mypoll| %>
  <tbody>
    <%i +=1%>
      <tr>
        <td><%=i%></td>

        <td><%= mypoll.category.name.capitalize %></td>
        <% if !mypoll.user.admin %>
        <td><%= mypoll.user.email %></td>
        <%else%>
         <td>(a)|<%= mypoll.user.email %></td>
        <%end%>
        <%end%>  
      </tr> 
  </tbody>
</table>
<%end%>

     <br>
     <h2 align=center>Pie Chart</h2>
    <br>
  <div class="mypol" style="background-color:#A89EE9;border-color:#5541D2;">
   <%= pie_chart @pollsarray %>
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
<br>

</div>


