
<h1 align=center>Polls</h1>

<h2 align=center>My Polls</h2>

<%if @apolls.empty? %>
 <p>Sorry,there are no posts,<td><%= link_to 'Clich here to add a post', new_mypoll_path %></td></p>
<%else%>
<table border=1 style="margin: 0 auto;text-align: center;">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Category</th>
      <th>User</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @apolls.each do |mypoll| %>
     
      <tr>
        <td>1</td>
        <td><%= mypoll.category.name %></td>
        <td><%= mypoll.user.email %></td>
        <td><%= link_to 'Edit', edit_mypoll_path(mypoll) %></td>
        <td><%= link_to 'Destroy', mypoll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr> 
       
  <%end%>
  </tbody>
</table>
 <%end%>
<br><Br>


<h2 align=center>Other Polls</h2>
<br>

<%if @anpolls.empty? %>
 <p>Sorry,there are no posts</p>
<%else%>
<%i=0%>
<table border=1 style="margin: 0 auto;text-align: center;">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Category</th>
      <th>User</th>
     
    </tr>
  </thead>
<% @anpolls.each do |mypoll| %>
  <tbody>
    <%i +=1%>
      <tr>
        <td><%=i%></td>

        <td><%= mypoll.category.name %></td>
        <% if !mypoll.user.admin %>
        <td><%= mypoll.user.email %></td>
        <%else%>
         <td>(a)|<%= mypoll.user.email %></td>
        <%end%>
        <%end%>  
      </tr> 
  </tbody>
</table>
<%end%>

     <br>
     <h2 align=center>Pie Chart</h2>
    
   <%= pie_chart @pollsarray %>
   <%= link_to 'Back', '/' %>
<br>




